---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1 class="text-5xl font-semibold text-center mt-12 mb-10 leading-8">
    Welcome to Homepage of Astro Learning
  </h1>
</BaseLayout>
